* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.grid {
  position: relative;
  max-width: 840px;
  padding: 0 10px;
  margin: 0 auto;
}

.banner {
  padding-top: 65px;
  padding-bottom: 70px;
  position: relative;
}

.banner-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: #f8fbff;
  height: 100%;
}

.banner h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 23px;
}

.cont-wrap {
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}

.cont-wrap p {
  color: #132659;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}

.cont-wrap h5 {
  color: #132659;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 15px;
}

.data-col-list,
.data-pur-list,
.low-alpha-list {
  color: #132659;
  font-size: 18px;
  line-height: 26px;
  list-style: upper-alpha;
  padding-left: 30px;
  margin-bottom: 40px;
  font-weight: 700;
}

.data-pur-list {
  list-style: disc;
  font-weight: 400;
}

.num-list {
  padding-left: 40px;
  color: #132659;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 40px;
}

table {
  font-family: Roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

.low-alpha-list {
  list-style: lower-alpha;
  font-weight: 400;
}

.wrapper footer {
  padding: 30px 10px;
}

.wrapper footer ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.wrapper footer ul li a {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: #4f5b67;
}

.wrapper footer ul li a:hover {
  text-decoration: underline;
}

a.mail-text {
  font-size: inherit;
  color: #136adc;
  word-wrap: break-word;
}

a.mail-text:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .banner {
    padding-top: 30px;
  }

  .banner h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .cont-wrap {
    padding: 15px;
  }

  .cont-wrap p,
  .data-col-list,
  .data-pur-list,
  .num-list,
  .low-alpha-list {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .cont-wrap h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  table {
    font-size: 14px;
    line-height: 1.2;
  }

  .wrapper footer ul {
    flex-wrap: wrap;
    justify-content: unset;
  }
}
