.about {
    background: #F7FBFF url("../../../images/Grid.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0;
    

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    h2 {
        margin-bottom: 50px;
        color: #1C3769;
        text-align: center;
        font-family: Roboto;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 139.13% */

        @media (max-width: 768px) {
            margin-bottom: 30px;
            font-size: 32px;
            line-height: 48px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li {
            width: 32.05%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            @media (max-width: 768px) {
               width: 100%;
               margin-bottom: 20px;
            }

            figure {
                margin-bottom: 20px;
            }

            .content {
                max-width: 302px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h3 {
                    margin-bottom: 8px;
                    color: #1C3769;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                p {
                    color: #4C5C7A;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }
            }
        }
    }
}