.feature {
    padding: 80px 0;
    background-color: #F7FBFF;

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    h2 {
        margin-bottom: 85px;
        color: #1C3769;
        text-align: center;
        font-family: Roboto;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 139.13% */

        @media (max-width: 540px) {
            margin-bottom: 30px;
            font-size: 32px;
            line-height: 48px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            padding-bottom: 85px;
            margin-bottom: 85px;
            display: flex;
            align-items: center;
            gap: 77px;
            border-bottom: 2px solid #DEE6EE;

            @media (max-width: 768px) {
                padding-bottom: 40px;
                margin-bottom: 40px;
                gap: 20px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border: none;
            }

            h3 {
                margin-bottom: 20px;
                color: #1C3769;
                font-family: Roboto;
                font-size: 38px;
                font-style: normal;
                font-weight: 700;
                line-height: 46px; /* 121.053% */

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                    font-size: 28px;
                    line-height: 36px;
                }
            }

            p {
                color: #4C5C7A;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px; /* 130% */

                @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            figure {
                width: 67.62%;

                img {
                    width: 100%;
                }
            }

            div {
                width: 50%;

                @media (max-width: 768px) {
                    width: 100%;
                }
            }
        }
    }
}