footer {
    padding: 40px 0;
    background: #071728;

    .disclaimer {
        color: #828E9E;
        text-align: center;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px; /* 116.667% */

        span {
            margin-bottom: 16px;
            display: block;
        }

        
    }
    ul {
        display: flex;
        justify-content: center;
        gap: 16px;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        li {
            display: flex;

            a {
                color: #94A3B8;
                text-align: center;
                font-family: Roboto;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 166.667% */
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}