.hero {
    width: 100%;
    padding-top: 77px;
    padding-bottom: 30px;
    background: #F7FBFF;
    
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1024px) {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .title-wrap {
        margin-bottom: 33px;
    }

    h1 {
        max-width: 554px;
        margin-bottom: 16px;
        color: #1C3769;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 114.286% */

        @media (max-width: 540px) {
            font-size: 36px;
            line-height: 48px;
        }
    }

    p {
        max-width: 522px;
        color: #4C5C7A;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px; /* 145% */

        @media (max-width: 540px) {
            font-size: 16px;
            line-height: 24px;
    }
    }

    .disclaimer {
        max-width: 434px;
        margin-bottom: 12px;

        p {
            color: #4C5C7A;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
        }
    }

    figure {
        img {
            width: 100%;
        }
    }
}