.smart-search {
    padding: 80px 0;

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    .wrapper {
        @media (max-width: 540px) {
            width: 88%;
        }
    }

    .bg-wrapper {
        height: 424px;
        background: url(../../../images/smar-search.png) no-repeat center center;
        border-radius: 200px 30px 30px 30px;
        border: 1px solid #DDE5ED;
        box-shadow: 0 4px 40px 0 rgba(30, 87, 196, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-size: cover;

        @media (max-width: 995px) {
            padding: 115px 0 116px;
            width: 100%;
            height: unset;
        }

        @media (max-width: 540px) {
            padding: 40px 0;
            height: 400px;
            width: 84%;
            background: url(../../../images/smart-search-mobile.png) no-repeat center center;
            border-top-left-radius: 100px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            margin: 0 auto;
        }

        h2 {
            margin-bottom: 16px;
            color: #1C3769;
            text-align: center;
            font-family: Roboto;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 114.286% */

            @media (max-width: 995px) {
                font-size: 40px;
                line-height: 48px;
            }

            @media (max-width: 768px) {
                font-size: 32px;
                line-height: 48px;
            }

            @media (max-width: 540px) {
                font-size: 28px;
                line-height: 36px;
            }
        }

        p {
            margin-bottom: 25px;
            color: #4C5C7A;
            text-align: center;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 133.333% */

            @media (max-width: 768px) {
                padding: 0 20px;
                font-size: 16px;
                line-height: 24px;
            }

            @media (max-width: 540px) {
                max-width: 350px;
                padding: 0 20px;
            }
        }
    }
}