.smart-search {
    padding: 65px 0;

    @media (max-width: 1024px) {
        padding: 40px 0;
    }

    .wrapper {
        width: 84%;
        height: 470px;
        background: url("../../../images/smart-search.png") no-repeat center center;
        background-size: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width: 995px) {
            padding: 115px 0 116px;
            width: 100%;
            height: unset;
        }

        h2 {
            margin-bottom: 16px;
            color: #1C3769;
            text-align: center;
            font-family: Roboto;
            font-size: 56px;
            font-style: normal;
            font-weight: 700;
            line-height: 64px; /* 114.286% */

            @media (max-width: 768px) {
                font-size: 32px;
                line-height: 48px;
            }

            @media (max-width: 540px) {
                font-size: 28px;
                line-height: 36px;
            }
        }

        p {
            margin-bottom: 25px;
            color: #4C5C7A;
            text-align: center;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 133.333% */

            @media (max-width: 768px) {
                padding: 0 20px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}