* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay-main {
    width: 100%;
    height: 100vh;
    background: #000000D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner-wrap {
    padding: 20px 30px;
    width: 454px;
    height: 138px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16.29px;
}

h1 {
    margin-bottom: 5px;
    color: #1C3769;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #1C3769;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bold {
    font-weight: 600;
}

.overlay-inner {
    position: absolute;
    top: 350px;
}

.arrow-img {
    position: absolute;
    bottom: 150px;
    right: -34px;
}

.arrow-img img {
    transform: rotate(180deg);
    width: 141px;
    height: 141px;
}